.displayfootwear {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

.displayfootwear-wrapper {
    background: white;
    width: 1480px;
    height: 309px;
    margin-left: 2%;
    margin-right: 1%;
}

.displayfooter-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.displayfooter-content > h1 {
    font-size: 25px;
    margin-left: 2%;
    margin-top: 1.2%;
    font-weight: 500;
}

.displayfooter-content > button {
    width: 100px;
    height: 30px;
    margin-top: 1.5%;
    border: none;
    margin-right: 2%;
    background: #2874F0;
    color: white;
    border-radius: 5%;
}

.displayfootwear-cardcontainer {
    margin-top: 1%;
    margin-left: 2%;
}

.displayfooter-card-wrapper {
    display: flex;
    flex-direction: row;
}

.displayfootwear-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    margin-right: 2%;
}

.displayfootwear-card > img {
    object-fit: contain;
}

.displayfootwear-card > h4 {
    font-size: 15px;
    font-weight: 700;
    margin-top: 1%;
}

.displayfootwear-card > span {
    margin-top: -5%;
    font-size: 12px;
    font-weight: 500;
    color: green;
}

.displayfootwear-card > p {
    font-size: 13px;
    margin-top: 3%;
    color: #868686;
    font-weight: 400;
}